<mat-toolbar color="primary">
  <div>
    {{
      dataService.currentRelease
        ? router.url !== '/'
          ? dataService.currentRelease
          : 'Persona Fusion Calculator'
        : 'Persona Fusion Calculator'
    }}
  </div>
  <div [ngStyle]="{ margin: '0 auto' }"></div>
  <button
    @fadeInOut
    mat-icon-button
    mat-raised-button
    routerLink="/"
    color="accent"
    matTooltip="Select game version"
  >
    <mat-icon svgIcon="home"></mat-icon>
  </button>
  <button
    @fadeInOut
    mat-icon-button
    mat-raised-button
    (click)="location.back()"
    matTooltip="Previous page"
  >
    <mat-icon svgIcon="navigate_before"></mat-icon>
  </button>
  <button
    @fadeInOut
    mat-icon-button
    mat-raised-button
    (click)="location.forward()"
    matTooltip="Next page"
  >
    <mat-icon svgIcon="navigate_next"></mat-icon>
  </button>
</mat-toolbar>
