mat-card {
  max-width: 600px;
  width: 90%;
  margin: 10px auto;
}

mat-card:hover {
    cursor: pointer;
    transform: scale(1.01, 1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

mat-list-item:hover {
    background-color: #cccccc;
    cursor: pointer;
}