<form>
  <mat-form-field>
    <input
      matInput
      placeholder="Filter"
      (change)="filter()"
      [(ngModel)]="name"
      name="pname"
    />
  </mat-form-field>
</form>
<table class="table">
  <tr>
    <th>Level</th>
    <th>Name</th>
    <th>Arcana</th>
  </tr>
  <tr
    [routerLink]="['/recipes']"
    [queryParams]="{ persona: persona.name }"
    *ngFor="let persona of personae"
    class="persona"
    @fadeInOut
  >
    <td>
      {{ persona.level }}
    </td>
    <td>
      {{ persona.name }}
    </td>
    <td>
      {{ persona.arcana }}
    </td>
  </tr>
</table>
